<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.kodex.alabhyavaibhav.yourbox">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".screen1" />
        <activity android:name=".screen2" />
        <activity android:name=".screen3" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".getSizeActivity" />
        <activity android:name=".getPeople" />
        <activity android:name=".getFood" />
        <activity android:name=".getTime" />
        <activity android:name=".getSeat" />
        <activity android:name=".getDate" />
        <activity android:name=".finishBook" />
        <activity android:name=".complete"></activity>
    </application>

</manifest>